@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>To contact the owner of this website:</h1>
<p>Phone number : +91 85*****290</p>
<p>Gmail : nitinsharma85804@gmail.com</p>
<p>residential address : Kangra, Himachal Pradesh</p>
