@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a website for a Training portal purposes. In which Dotnet and C# technologies are mainly used.</p>
</div>
