<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CompanyPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CompanyPortal.styles.css" asp-append-version="true" />
</head>
<div class="toast-container position-fixed bottom-0 end-0 p-3">

    <div id="liveToast" class="toast">

        <div class="toast-header">
            <strong class="me-auto">CompanyPortal</strong>
            <small>Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>

        <div class="toast-body">
            Thank you for your interest! Explore our consulting and training services to see how we help businesses grow and professionals develop new skills.
        </div>

    </div>

</div>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/images/cu logo.jpg" alt="Logo" width="60" height="70" class="me-2">
                    CompanyPortal
                </a>


                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            Services
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-controller="Services" asp-action="Consulting">
                                    Consulting
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" asp-controller="Services" asp-action="Training">
                                    Training
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            Products
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-controller="Products" asp-action="Software">
                                    Software
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" asp-controller="Products" asp-action="Tools">
                                    Tools
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Contact" asp-action="Index">
                            Contact
                        </a>
                    </li>

                </ul>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - CompanyPortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>

        function showToast()
        {
            var toastElement = document.getElementById("liveToast");
            var toast = new bootstrap.Toast(toastElement);
            toast.show();
        }

    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
