
@{
    ViewData["Title"] = "About";
}
<div class="container mt-4">

    <div class="alert alert-success">
        We are a leading technology company.
    </div>

    <ul class="list-group">
        <li class="list-group-item">10+ Years Experience</li>
        <li class="list-group-item">Global Clients</li>
        <li class="list-group-item">Expert Developers</li>
    </ul>

</div>

