@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to QuickLoan</h1>
    <p>Welcom to Loan Portal</p>
    <a asp-controller="Loan" asp-action="Index" class="btn btn-primary">
        Loan List
    </a>
</div>
