
@{
    ViewData["Title"] = "Index";
}
<div class="container mt-4">

    <h2>Consulting Services</h2>

    <div class="accordion">

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button">
                    Business Consulting
                </button>
            </h2>

            <div class="accordion-body">
                We provide strategic consulting.
            </div>

        </div>

    </div>

</div>
