
@{
    ViewData["Title"] = "Training";
}

<div class="container mt-4">

    <h2>Training Programs</h2>

    <p>
        Our training programs are designed to help students and professionals
        learn modern technologies and improve their technical skills.
    </p>

    <div class="row mt-4">

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>Web Development</h5>
                    <p>
                        Learn HTML, CSS, JavaScript, and ASP.NET to build modern web applications.
                    </p>
                    <img src="~/images/wd.jpg" class="card-img-top" alt="Web Development">

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>Cloud Computing</h5>
                    <p>
                        Gain knowledge about cloud platforms and how to deploy scalable applications.
                    </p>
                    <img src="~/images/cc.jpg" class="card-img-top" alt="Cloud Computing">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>Software Development</h5>
                    <p>
                        Understand software development practices and build real-world applications.
                    </p>
                    <img src="~/images/sd.jpg" class="card-img-top" alt="Software Development">
                </div>
            </div>
        </div>

    </div>

</div>

