@{
    ViewData["Title"] = "Home Page";
}
<div class="p-5 mb-4 bg-light rounded">
    <h1>Welcome to Company Portal</h1>
    <p>We provide IT solutions and services.</p>
    <button class="btn btn-secondary" onclick="showToast()">
        Learn More
    </button>
</div>


<div class="row">

    <div class="col-md-4">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5>Consulting</h5>
                <p>Professional IT consulting.</p>
                <img src="~/images/images.jpg" class="card-img-top" alt="Consulting">
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5>Training</h5>
                <p>Technical training programs.</p>
                <img src="~/images/download.jpg" class="card-img-top" alt="Training">
            </div>
        </div>
    </div>

</div>

</div>
</div>
