@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>These are the courses offeredd by this website.</h1>
<h2>These are courses based on Dotnet and C#.</h2>
<ul>
    <li> Microsoft Learn : <a href="https://learn.microsoft.com/en-us/" target="_blank">MSLearn</a> </li>
    <li> From Github repository: <a href="https://github.com/dotnet/runtime/blob/main/src/libraries/System.Console/ref/System.Console.cs" target="_blank">DotnetRepo</a></li>
</ul>

