@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To FinTrack Pro</h1>
    <a class="btn btn-primary" href="Accounts/Index" role="button">Accounts</a>
</div>
