@model List<NorthwindCatalog.Services.DTOs.CategoryDto>

<div class="container mt-4">
    <h2 class="mb-4">Categories</h2>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card shadow">

                    <img src="~/images/@(item.CategoryId).jpeg"
                         class="card-img-top"
                         style="height:200px; object-fit:cover;"
                         onerror="this.src='https://via.placeholder.com/300x200'" />

                    <div class="card-body text-center">

                        <h5 class="card-title">
                            @item.CategoryName
                        </h5>

                        <a class="btn btn-primary mt-2"
                               href="/Products/ByCategory/@item.CategoryId">
                            View Products
                        </a>

                    </div>

                </div>
            </div>
        }
    </div>
</div>