@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to company pulse portal</p>
    <a asp-controller="Company" asp-action="Dashboard" class="btn btn-primary">
        Go to Dashboard
    </a>
</div>
